#video_background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.vector {
  position: absolute;
  left: 84px;
  top: 40px;
  bottom: 0%;
}

input:focus {
  outline: 0;
  outline: none;
}

::placeholder {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a3871;
}

p img {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.botonGroup {
  display: inline-block;
  margin-left: 30%;
  margin-top: -10rem;
}

.boton-flex {
  display: flex;
}

.botonEncriptar {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  color: #fff;
  background: linear-gradient(#244451, #80a0ab);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 67px;
  width: 328px;
  margin-bottom: 10px;
  border-radius: 24px;
  padding: 24px;
}

.botonEncriptar:hover,
.botonEncriptar:focus,
.botonDesencriptar:hover,
.botonDesencriptar:focus {
  color: #080707;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.botonDesencriptar {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  display: block;
  margin: auto;
  color: #f6f8fa;
  background: linear-gradient(#244451, #80a0ab);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 67px;
  width: 328px;
  border-radius: 24px;
  padding: 24px;
}

canvas {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

#mensaje {
  position: absolute;
  margin-top: 10%;
  margin-left: 6%;
  transition: width 8s linear;
}

#mensaje h1 {
  font-size: 80px;
  color: #0a7119;
}

.boton {
  position: absolute;
  margin-top: 0%;
  margin-left: 14%;
  font-size: 1.5rem;
  font-family: "Courier New";
  padding: 1rem;
  color: #fff;
  background-color: #91bbcc;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 992px) {
  .botonDesencriptar,
  .botonEncriptar {
    width: 80%;
    height: 30%;
    display: flex;
  }
  .botonGroup {
    width: 100%;
    height: 90%;
    margin: center;
    align-items: center;
  }
}

.popup-window {
  width: 600px;
  position: fixed;
  height: 500px;
  background: linear-gradient(#244451, #80a0ab);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid black;
  border-radius: 24px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  font-size: 45px;
  color: #71300a;
  font-family: "Permanent Marker", cursive;
}
.popup-window h1 {
  display: flex;
  margin-top: -30px;
  justify-content: center;
  animation: crecer 1s 1;
}
.popup-window-ganado p {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  color: #141414;
  animation: crecer 2s 1;
}
.popup-window p {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  color: #141414;
  animation: crecer 2s 1;
}
@keyframes crecer {
  0% {
    transform: scale(0.9, 1);
  }
}

#close-button {
  margin-top: 5rem;
}
#close-button-ganado {
  margin-top: 5rem;
}

.popup-window-ganado {
  width: 600px;
  position: fixed;
  height: 500px;
  background: linear-gradient(#244451, #80a0ab);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid black;
  border-radius: 24px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  font-size: 45px;
  color: #135133;
  font-family: "Permanent Marker", cursive;
}

.popup-window-ganado h1 {
  display: flex;
  justify-content: center;
  animation: botar 2s 1;
}

@keyframes botar {
  0% {
    transform: translateY(-80px);
    animation-timing-function: ease-in;
    opacity: 0.8;
  }
  30% {
    transform: translateY(90px);
    animation-timing-function: ease-out;
  }
  45% {
    transform: translateY(-70px);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateY(70px);
    animation-timing-function: ease-out;
  }
  68% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  76% {
    transform: translateY(50px);
    animation-timing-function: ease-out;
  }
  80% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  84% {
    transform: translateY(30px);
    animation-timing-function: ease-out;
  }
  86% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  88% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

.popup-window-ganado p {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  color: #141414;
}

.me-1 {
  animation: gotasCayendo 2s infinite;
}
.me-2 {
  animation: gotasCayendo 5s infinite;
}
.me-3 {
  animation: gotasCayendo 1s infinite;
}
.me-4 {
  animation: gotasCayendo 4s infinite;
}
.me-5 {
  animation: gotasCayendo 5s infinite;
}
.me-6 {
  animation: gotasCayendo 2s infinite;
}
.me-7 {
  animation: gotasCayendo 3s infinite;
}
.me-8 {
  animation: gotasCayendo 1s infinite;
}
.me-9 {
  animation: gotasCayendo 5s infinite;
}
.me-10 {
  animation: gotasCayendo 3s infinite;
}
.me-11 {
  animation: gotasCayendo 1s infinite;
}
.me-12 {
  animation: gotasCayendo 3s infinite;
}

@keyframes gotasCayendo {
  0% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  30% {
    transform: translateY(-10px);
    animation-timing-function: ease-out;
  }
  45% {
    transform: translateY(-0px);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  68% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
  }
  76% {
    transform: translateY(55px);
    animation-timing-function: ease-out;
  }
  80% {
    transform: translateY(80px);
    animation-timing-function: ease-in;
  }
  84% {
    transform: translateY(110px);
    animation-timing-function: ease-out;
  }
  86% {
    transform: translateY(150px);
    animation-timing-function: ease-in;
  }
  88% {
    transform: translateY(190px);
    animation-timing-function: ease-out;
  }
  91% {
    transform: translateY(270px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(430px);
    animation-timing-function: ease-in;
  }
}
